<html ng-app="starter">
 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <title>SmartLand </title>
  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>
  <link href="css/style.css" rel="stylesheet"/>
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  <script src="js/angular-google-maps.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/script.js"></script>

</head>
 
<body>
  
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-nav-view></ion-nav-view>
  
  <script id="home.html" type="text/ng-template">
    <ion-view view-title="Google Map">  
    
      <ion-content data-tap-disabled="true">
    
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">

          </ui-gmap-marker>        
        </ui-gmap-google-map>
        
      </ion-content>
      
    </ion-view>
  </script>  

    <script id="new-task.html" type="text/ng-template"> 

      <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-stable">
          <h1 class="title">Nueva Tarea</h1>
          <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancelar</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

          <form ng-submit="createTask(task)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Comentario" ng-model="task.title">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Añadir</button>
            </div>
          </form>

        </ion-content>

      </div>

    </script>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
     <ion-footer-bar class="bar-positive"> 
        <!-- New Task button-->
        <button class="button button-icon pull-right" ng-click="newTask()">
          <i class="icon ion-compose"></i>
        </button>
    </ion-footer-bar>

</body>
</html>
